* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #131b21;
}

.card {
color: #fff;
transform: translate(0, 150px);

}
.button {
position: inherit;
display: inline-flex;
width: 180px;
height: 50px;
padding: 0;
background: linear-gradient(75deg,#6850ff,#a750ff);
border: none;
outline: 0cm;
border-radius: 5px;
overflow: hidden;
transform: translate(0, 30px);
font-size: x-large;
font-weight: 500;
cursor: pointer;
transition: all 600ms;
}
.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}
.button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    transform: translate(-20px, 0);
}
.button__text {
    transform: translate(-20px, 0);
    font-style: italic;
}
.button:hover {
transform: scale(1.2);
}
